<nav class="navbar">
    <div class="container">
        <div class="p-grid">
            <div class="p-col-12">
                <a href="#" class="navbar-toogle" (click)="exibirMenu = false"><i class="pi pi-bars"></i></a>
            </div>
        </div>
    </div>
        
        <ul class="navbar-menu" [hidden]="exibirMenu">
            <li class="navbar-usuario"><a href="#">Usuario</a></li>
            <li class="navbar-menuitem"><a href="#">Home</a></li>
            <li class="navbar-menuitem"><a href="#">Settings</a></li>
            <li class="navbar-menuitem"><a href="#"><i class="pi pi-sign-out"></i> &nbsp; Logout </a></li>
            <li class="navbar-menuitem"><a href="#" (click)="exibirMenu = true"><i class="pi pi-times"></i></a></li>
        </ul>
</nav>