<div class="login">

    <h1>Login</h1>

    <div class="usrPass">
        <label class="p-col-auto">Usuário</label>
        <input class="p-col-11" type="username" type="text" pInputText />
    </div>
    <div class="usrPass">
        <label class="p-col-auto">Senha</label>
        <input class="p-col-11" type="username" type="password" pInputText />
    </div>

    <div class="btnLogin">
        <p-button label="Entrar" type="submit" ></p-button>
    </div>

    <div class="btnLogin" id="cadastrar">
        <a href="#" >Cadastrar</a>
    </div>

</div>
